{% extends 'base.html.twig' %}

{% block title %}Musik{% endblock %}

{% block body %}
    <main class="responsive-wrapper">
        <div class="page-title">
            <h1>Latest Updates</h1>
        </div>
        <div class="magazine-layout">
            <div class="magazine-column">
                <article class="article">
                </article>
            </div>
        </div>
    </main>
{% endblock %}
