{% extends 'base.html.twig' %}

{% block title %}Musik{% endblock %}

{% block body %}
    <main class="responsive-wrapper">
        <div class="page-title">
            <h2>{{ user.username }}</h2>
        </div>
    </main>

    <section class="responsive-wrapper">
        <div class="top-tracks">
        </div>
    </section>
{% endblock %}
